.background{
	-fx-background-color: #263238;
}

.background-pane-modular{
	-fx-background-color: #283593;
}

.button-basic{
	-fx-text-fill: #ffffff;
	-fx-background-radius: 25;
	-fx-border-radius: 25;
}

.background-button-primary{
	-fx-background-color: #37474f;
	-fx-text-fill: #ffffff;
}


.background-button-secondary{
	
}

.text-white{
	-fx-text-fill: #ffffff;
}

.pane-active-button{
	-fx-background-color: #00c853;
}